@use "../mixins/mixins" as mixin;
@use "../vars/vars" as var;

#service {
    flex-direction: column;
    gap: 30px;
    color: white;

    h1 {
        font-size: 42px;
        font-weight: 500;

        @media screen and (max-width:426px) {
            font-size: 35px;
        }

        @media screen and (max-width:321px) {
            font-size: 30px;
        }
    }

    p {
        max-width: 587px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    .card-container {
        flex-wrap: wrap;
        row-gap: 30px;
        width: 100%;

        .card {
            @include mixin.card {
                min-width: 290px;
                padding: 20px;

                @media screen and (max-width:1101px) {
                    width: 45%;
                }

                @media screen and (max-width:741px) {
                    width: 80%;
                }
            }

            ;
            width: 32%;
            text-align: center;

            h2 {
                margin: 10px 0;
                font-size: 24px;
                font-weight: 500;
                line-height: normal;
            }

            p {
                margin: 0 auto 10px;
                max-width: 324px;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }

            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;

                i {
                    margin-left: 10px;
                }
            }

        }

        @media screen and (max-width:1101px) {
            justify-content: center;
            gap: 30px;
        }
    }
}